html, body {
    height: 100%;
    font-family: 'Spectral SC', serif;
}

body {
    text-align: center;
    background-color: rgb(60, 60, 63);
    margin: 0;
}


h1 {
    display: inline-block;
    color: rgb(156, 125, 102); 
    text-shadow: 1px 1px 1px rgb(156, 125, 102);
    border-bottom: 1px solid rgb(156, 125, 102);
}

.centered {
    margin: 0 auto;
}

.timer {
    position: relative;
    display: inline-block;
    width: 200px;
    color: rgb(156, 125, 102);
}

    #timerNbtns {
        position: relative;
        right: 5%;
    }

    #break {
        position: relative;
        left: 5%;
    }

  

    #btnIncr, #btnDecr {
        padding: 17.5px 15px 17.5px 15px;
        width: 20%;
        position: relative;
        display: inline-block;
    }
    
    #btnIncr {
        border-radius: 15% 0 0 15%;
    }
    
    #btnDecr {
        border-radius: 0 15% 15% 0;
    }

    .time {
        background-color: rgb(201, 193, 193);
        padding: 14px;
        width: 46%;
        display: inline-block;
        font-size: 18px;
        color: #9c7d66;     
        box-shadow: inset 0 0 1px rgb(70, 68, 68), inset 0 0 5px #333;
    }
    
    .timerType {
        padding: 0;
        margin: 0;  
    }
    

#container {
    position: relative;
    margin-top: 30px;
    width: 300px;
    height: 300px;
}

/* for filling effect of timer */
#fill {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;    
}

#clock {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #938E94;
    border-radius: 50%;
    box-shadow: 0 0 2px #FFFFFF,  0 0 8px #938E94;
}




#btnStart {
    -ms-transform: rotate(-31deg); /* IE 9 */
    -webkit-transform: rotate(-31deg); /* Chrome, Safari, Opera */
    transform: rotate(-41.5deg);
    
    border-radius: 40%;    
    top: 11%;
    left: 5.4%;
}

#btnStop {
    -ms-transform: rotate(31deg); /* IE 9 */
    -webkit-transform: rotate(31deg); /* Chrome, Safari, Opera */
    transform: rotate(41.5deg);

    border-radius: 40%;
    top: 11%;
    right: 5.4%;
}

.btnStd {
    position: absolute;
    background-color: rgb(150, 144, 144); 
    border: none;
    color: white;
    padding: 13px 32px;
    /* text-decoration: none;  -- stops underline styling if you use links - not needed in this */
    outline: none;
    font-size: 16px;
    box-shadow: 0 0 5px rgb(70, 68, 68), 0 0 10px #333;
}

#btnReset {
    border-radius: 40%;
    top: 85.3%;
    left: 33%;
}

.btnStd:hover {
    color: rgb(156, 125, 102); 
    background-color: rgb(201, 193, 193);
    cursor: pointer;
}

.btnStd:active {
    transform: translateY(4px);    
    box-shadow: inset 0 0 5px rgb(70, 68, 68), inset 0 0 10px #333;
  }

  @media (max-width: 300px) {
    #container {
        height: 180px;
        width: 180px;
    }
  
    


    #btnStart, #btnStop, #btnReset {
        padding: 5px 15px;
        top: 10%;
    }
    
    #btnReset {
        top: 84%;
        left: 30%;  
    }
  }

  @media (max-width: 480px) {
    #timerNbtns {
        display: block;
        margin: 0 auto;
        position: relative;
        right: 0%;
    }

    #break {
        margin: 10px auto;
        display: block;
        position: relative;
        left: 0%;
    }
  }